body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.title span {
  margin: 0;
  padding: 0;
  font-style: italic;
  color: rgb(46, 44, 44);
}

.title h1 {
  font-style: bold;
}

.meal-search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.meal-search-box input {
  border: 2px solid #d5560c;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  color: #d5560c;
}

.search-btn {
  width: 35px;
  height: 35px;
  font-size: 1rem;
  background-color: #d5560c;
  color: aliceblue;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.meal-result {
  margin-top: 4rem;
}
.meal {
  margin: 2.4rem 0;
}
.meal-item {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}
.meal-img img {
  width: 100%;
  display: block;
}
.meal-name {
  padding: 1.5rem 0.5rem;
  margin-left: 150px;
}
.meal-name h3 {
  font-size: 1.4rem;
}
.recipe-btn {
  text-decoration: none;
  color: #fff;
  background-color: #d5560c;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  border-radius: 2rem;
  text-align: center;
}

.meal-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #d5560c;
  border-radius: 1rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
  align-items: center;
}

.showRecipe {
  display: block;
}

.meal-details-content {
  margin: 2rem;
}
.meal-details-content p:not(.recipe-category) {
  padding: 1rem 0;
}
.recipe-close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}
.recipe-title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
  margin-left: 250px;
}
.recipe-category {
  color: #d5560c;
  background-color: #fff;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  margin-left: 280px;
}

.recipe-instruct {
  padding: 1rem 0;
}
.recipe-meal-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.recipe-link {
  margin: 1.4rem 0;
  margin-left: 250px;
}
.recipe-link a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
}

@media screen and (min-width: 600px) {
  .meal-search-box {
    width: 840px;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .meal-item {
    margin: 0;
  }
  .meal-details {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
  }
}
